CODIGO/Banquetzal/Banquetzal/Web References/SWFase3/Fase3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ServicioWeb/" targetNamespace="http://ServicioWeb/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarProducto" type="tns:agregarProducto" />
  <xs:element name="agregarProductoResponse" type="tns:agregarProductoResponse" />
  <xs:element name="agregarProveedor" type="tns:agregarProveedor" />
  <xs:element name="agregarProveedorResponse" type="tns:agregarProveedorResponse" />
  <xs:element name="asociarCuenta" type="tns:asociarCuenta" />
  <xs:element name="asociarCuentaResponse" type="tns:asociarCuentaResponse" />
  <xs:element name="cambiarEstadoPrestamo" type="tns:cambiarEstadoPrestamo" />
  <xs:element name="cambiarEstadoPrestamoResponse" type="tns:cambiarEstadoPrestamoResponse" />
  <xs:element name="canjearProducto" type="tns:canjearProducto" />
  <xs:element name="canjearProductoResponse" type="tns:canjearProductoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="mostarProductosMasSolicitados" type="tns:mostarProductosMasSolicitados" />
  <xs:element name="mostarProductosMasSolicitadosResponse" type="tns:mostarProductosMasSolicitadosResponse" />
  <xs:element name="mostarProveedoresMasSolicitados" type="tns:mostarProveedoresMasSolicitados" />
  <xs:element name="mostarProveedoresMasSolicitadosResponse" type="tns:mostarProveedoresMasSolicitadosResponse" />
  <xs:element name="mostrarCuentasAsociadas" type="tns:mostrarCuentasAsociadas" />
  <xs:element name="mostrarCuentasAsociadasResponse" type="tns:mostrarCuentasAsociadasResponse" />
  <xs:element name="mostrarCuentasCliente" type="tns:mostrarCuentasCliente" />
  <xs:element name="mostrarCuentasClienteResponse" type="tns:mostrarCuentasClienteResponse" />
  <xs:element name="mostrarEstadosPrestamos" type="tns:mostrarEstadosPrestamos" />
  <xs:element name="mostrarEstadosPrestamosResponse" type="tns:mostrarEstadosPrestamosResponse" />
  <xs:element name="mostrarPrestamosCliente" type="tns:mostrarPrestamosCliente" />
  <xs:element name="mostrarPrestamosClienteResponse" type="tns:mostrarPrestamosClienteResponse" />
  <xs:element name="mostrarPrestamosTrabajador" type="tns:mostrarPrestamosTrabajador" />
  <xs:element name="mostrarPrestamosTrabajadorResponse" type="tns:mostrarPrestamosTrabajadorResponse" />
  <xs:element name="mostrarProductos" type="tns:mostrarProductos" />
  <xs:element name="mostrarProductosResponse" type="tns:mostrarProductosResponse" />
  <xs:element name="mostrarPropietarioDeCuenta" type="tns:mostrarPropietarioDeCuenta" />
  <xs:element name="mostrarPropietarioDeCuentaResponse" type="tns:mostrarPropietarioDeCuentaResponse" />
  <xs:element name="mostrarProveedores" type="tns:mostrarProveedores" />
  <xs:element name="mostrarProveedoresResponse" type="tns:mostrarProveedoresResponse" />
  <xs:element name="mostrarStock" type="tns:mostrarStock" />
  <xs:element name="mostrarStockResponse" type="tns:mostrarStockResponse" />
  <xs:element name="puntosCliente" type="tns:puntosCliente" />
  <xs:element name="puntosClienteResponse" type="tns:puntosClienteResponse" />
  <xs:element name="retirar" type="tns:retirar" />
  <xs:element name="retirarResponse" type="tns:retirarResponse" />
  <xs:element name="transferir" type="tns:transferir" />
  <xs:element name="transferirResponse" type="tns:transferirResponse" />
  <xs:complexType name="cambiarEstadoPrestamo">
    <xs:sequence>
      <xs:element name="idprestamo" type="xs:int" />
      <xs:element name="idestado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPrestamoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transferir">
    <xs:sequence>
      <xs:element name="origen" type="xs:int" />
      <xs:element name="destino" type="xs:int" />
      <xs:element name="monto" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transferirResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosCliente">
    <xs:sequence>
      <xs:element name="nomina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idestado" type="xs:int" />
      <xs:element minOccurs="0" name="modalidad" type="xs:string" />
      <xs:element name="monto" type="xs:long" />
      <xs:element name="saldo" type="xs:long" />
      <xs:element minOccurs="0" name="solicitante" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asociarCuenta">
    <xs:sequence>
      <xs:element name="cui" type="xs:long" />
      <xs:element name="idcuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asociarCuentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarCuentasAsociadas">
    <xs:sequence>
      <xs:element name="cui" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarCuentasAsociadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuenta">
    <xs:sequence>
      <xs:element name="cuiContador" type="xs:long" />
      <xs:element name="cuiPresidente" type="xs:long" />
      <xs:element name="cuiPropietario" type="xs:long" />
      <xs:element name="cuiVice" type="xs:long" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="fondos" type="xs:double" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="individualidad" type="xs:string" />
      <xs:element minOccurs="0" name="propietario" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="valor" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idproveedor" type="xs:int" />
      <xs:element name="idproducto" type="xs:long" />
      <xs:element name="nuevo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostarProveedoresMasSolicitados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostarProveedoresMasSolicitadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="canjes" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarCuentasCliente">
    <xs:sequence>
      <xs:element name="cui" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarCuentasClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="canjearProducto">
    <xs:sequence>
      <xs:element name="cui" type="xs:long" />
      <xs:element name="idStock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="canjearProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosTrabajador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosTrabajadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrarProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="puntosCliente">
    <xs:sequence>
      <xs:element name="cui" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="puntosClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retirar">
    <xs:sequence>
      <xs:element name="cuenta" type="xs:int" />
      <xs:element name="monto" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retirarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarEstadosPrestamos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrarEstadosPrestamosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoPrestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarStock">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrarStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stock">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="xs:string" />
      <xs:element name="puntos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPropietarioDeCuenta">
    <xs:sequence>
      <xs:element name="cuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPropietarioDeCuentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element name="cui" type="xs:long" />
      <xs:element minOccurs="0" name="nacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="puntos" type="xs:int" />
      <xs:element name="salario" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostarProductosMasSolicitados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostarProductosMasSolicitadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="canjes" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>